<div class="container container1">
	<h1>Add Post</h1>
	<ul ng-if="ResponseDetails" class="alert alert-danger">
		<li ng-if="ResponseDetails.title[0]">{{ResponseDetails.title[0]}}</li>
		<li ng-if="ResponseDetails.category_id[0]">{{ResponseDetails.category_id[0]}}</li>
		<li ng-if="ResponseDetails.content[0]">{{ResponseDetails.content[0]}}</li>
	</ul>
	<form name="myForm">
		<input type="hidden" name="_token" value="{{ csrf_token() }}">
		<div class="form-group">
			<input class="form-control" type="text" placeholder="Post Title" ng-model="title">
		</div>
		<div class="form-group">
			<input type="file" ngf-select ng-model="picFile" name="file"    
             accept="image/*" ngf-max-size="2MB"
             ngf-model-invalid="errorFile">
      		<i ng-show="myForm.file.$error.maxSize">File too large 
          	{{errorFile.size / 1000000|number:1}}MB: max 2M</i>
		</div>
		<div class="form-group">
			<select class="form-control" ng-model="categoryname">
			  	<option ng-repeat="category in categories">{{category.name}}</option>
			</select>
		</div>
		<div class="form-group">
			<textarea class="form-control" rows="8" placeholder="Post Content" ng-model="content"></textarea>
		</div>

		<div class="form-group">
			<button ng-click="uploadPic(picFile)" class="btn btn-primary" type="submit">Add Post</button>
		</div>
		<span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%" 
            ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
	</form>
</div>